<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head th:include="fragments/header :: headerFragment"></head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:include="fragments/header :: navbarFragment"></nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container" th:object="${content}">
            <h1 class="display-3" th:text="${content.name}">Hello, world!</h1>
            <p th:text="${content.content}"></p>
        </div>
    </div>

</main>

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
