<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head th:include="fragments/header :: headerFragment"></head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:include="fragments/header :: navbarFragment"></nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div th:each="contentItem : ${contentItems}" class="col-md-4">
                <h2 th:text="${contentItem.name}">${contentItem.name}</h2>
                <img th:src="${contentItem.photo == null || contentItem.photo.isEmpty() ? '/images/empty.png' : '/catalog/images/small/' + contentItem.photo}"/>
                <p th:text="${contentItem.smallDescription}">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" th:href="@{/catalog/item/{id}(id=${contentItem.id})}" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
